.App {
  text-align: center;
}
.dashboard {
  background-color: #eeeeee !important;
    /*height: 120% !important;*/
    height: 100vh !important;
}
.card-container {
    background-color: #c8d3d5 !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.link-style {
    color: inherit;
    text-decoration: none;
}

.link-style:focus:hover:visited:link:active {
    color: inherit;
    text-decoration: none;
}

.wellcome-card {
    height: 80vh !important;
    width: 90vh !important;
    margin-left: auto;
    margin-right: auto;
}

.appbar-icon {
    color: #eeeeee !important;
}

.wellcome-links {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 8px !important;
}
.links-style-alt {
    float: left;
    padding: 4px !important;
}

.deleteUserButtonContainer {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-end !important;
    /*text-decoration-color: #ff747e !important;*/
}

.SignInButton{
    background: #4C5760 !important;
    color: white !important;
}
.AddExpenseButton{
    background: #33691e !important;
    color: white !important;
}
.DeleteButton {
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%) !important;
  color: white !important;
}
.Checkbox {
    color: #4C5760 !important;
}
.participant-card {
    margin-left: 14px !important;

    /*background-color: #eeeeee !important;*/
}

.participant-card-container {
    background-color: #eeeeee !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
